@import "../../variables.scss";

.loading-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
}

.recent-content {
  .loading-window {
    justify-content: flex-start;
    margin-top: 100px;
  }
}
