// $primary-color: #292f47;
// $secondary-color: #414960;
// $text-color: #fafafa;
// $placeholder-color: #777e90;
// $menu-color: #1a1e2a;
// $border-radius: 15px;
// $narrow-radius: 7.5px;

$primary-color: #262626;
$secondary-color: #434343;
$text-color: #fafafa;
$placeholder-color: #8c8c8c;
$menu-color: #1a1e2a;
$border-radius: 15px;
$narrow-radius: 7.5px;
